*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--bg);

    color:var(--white);

    font-family:Inter,sans-serif;

    overflow-x:hidden;

}

a{
    text-decoration:none;
    color:inherit;
}

button{

    font-family:inherit;

}