:root{

    /* DARK THEME */

    --bg:#050816;
    --surface:#0B1120;

    --primary:#2563EB;
    --primary-light:#38BDF8;

    --white:#F8FAFC;
    --text:#CBD5E1;
    --muted:#94A3B8;

    --border:rgba(255,255,255,.08);

    --glass:rgba(255,255,255,.05);

    --shadow-blue:
        0 20px 60px rgba(37,99,235,.35);

    --radius-sm:12px;
    --radius:18px;
    --radius-lg:28px;
    --radius-pill:999px;

    --transition:.35s ease;

    --container:1200px;
}

/* =======================
      LIGHT THEME
======================= */

[data-theme="light"]{

    --bg:#F8FAFC;
    --surface:#FFFFFF;

    --primary:#2563EB;
    --primary-light:#0EA5E9;

    --white:#0F172A;
    --text:#334155;
    --muted:#64748B;

    --border:rgba(15,23,42,.08);

    --glass:rgba(255,255,255,.85);

    --shadow-blue:
        0 20px 60px rgba(37,99,235,.15);
}