.messages-page{
    padding:40px;
    background:#050816;
    min-height:100vh;
    color:white;
}

.messages-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.messages-header h1{
    font-size:2.3rem;
}

.search-box{
    padding:14px 18px;
    width:300px;
    border:none;
    border-radius:14px;
    background:#111827;
    color:white;
    outline:none;
}

.message-list{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.message-card{
    background:#111827;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:25px;
    transition:.35s;
}

.message-card:hover{
    transform:translateY(-5px);
    border-color:#3B82F6;
}

.message-top{
    display:flex;
    justify-content:space-between;
    margin-bottom:12px;
}

.message-name{
    font-size:1.2rem;
    font-weight:700;
}

.message-email{
    color:#60A5FA;
}

.message-subject{
    color:white;
    font-weight:600;
    margin:12px 0;
}

.message-body{
    color:#94A3B8;
}

.delete-btn{
    margin-top:20px;
    background:#EF4444;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#DC2626;
}